.navigation-bar {
    background-color: #1e1e2e;
    color: #cdd6f4;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.logo > a {
    vertical-align: super;
}
.logo > img {
    width: 2rem;
    height: 2rem;
}
.dropdown {
    position: relative;
    display: inline-block;
}
.dropdown > input {
    width: 15vw;
}
.dropdown-button {
    background-color: #1e1e2e;
    color: #cdd6f4;
    border: none;
    cursor: pointer;
}
.dropdown-button > h2 {
    font-weight: 300;
}
.dropdown-content {
    display: none;
    position: absolute;
}
.dropdown-content a {
    display: block;
    text-decoration: none;
}
.dropdown-sort {
    display: none;
    position: absolute;
}
.dropdown-sort a {
    display: block;
    text-decoration: none;
}
.dropdown-mode {
    display: none;
    position: absolute;
}
.dropdown-mode a {
    display: block;
    text-decoration: none;
}
.search input {
    width: 40vw;
}



.show {display:block;}
.sort {
    display: flex;
}
